* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-color: rgb(85, 85, 85);
}

ul.list {
	color: #fff;
	display: inline-block;
	width: auto;
	list-style-type: none;
	margin-top: 10vh;
}
ul.list li {
	display: inline-block;
	padding: 15px 40px;
	background-color: #212121;
	width: 120px;
}
ul.list li.subred {border-bottom: 4px solid #f9ac93;}
ul.list li.suborange {border-bottom: 4px solid #a6d598;}
ul.list li.subblue {border-bottom: 4px solid #9facd7;}
ul.list li.subviolet {border-bottom: 4px solid #cda0ca;}
ul.list li.subindigo {border-bottom: 4px solid #af9bca;}

ul.list li a {
	text-decoration: none;
	color: #fff;
}
ul.list li.red:hover {background-color: #f9ac93;}
ul.list li.orange:hover {background-color: #a6d598;}
ul.list li.blue:hover {background-color: #9facd7;}
ul.list li.violet:hover {background-color: #cda0ca;}
ul.list li.indigo:hover {background-color: #af9bca;}
ul.list li.subred:hover {background-color: #f9ac93;}
ul.list li.suborange:hover {background-color: #a6d598;}
ul.list li.subblue:hover {background-color: #9facd7;}
ul.list li.subviolet:hover {background-color: #cda0ca;}
ul.list li.subindigo:hover {background-color: #af9bca;}

ul.list li:hover ul.submenu{
	display: block;
	position: absolute;
	margin-left: -40px;
	margin-top: 18px;
	width: 200px;
}
ul.submenu {
	display: none;
}
ul.submenu li {
	display: block;
	position: relative;
}
ul.submenu li:hover ul.subsubmenu {
	position: absolute;
	display: block;
	width: 200px;
	left: 202px;
	top: 0px;
}
ul.subsubmenu {
	display: none;
}
ul.subsubmenu li:hover ul.subsubsubmenu {
	position: absolute;
	display: block;
	width: 200px;
	left: 202px;
	top: 0px;
}
ul.subsubsubmenu {
	display: none;
}