
header h1 {
	text-align: center;
    padding-bottom: 50px;
    font-size: 3vmin;
}
img {
	float: left;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
	width: 8vw;
}
.images {
	width: 34.4vw;
	text-align: center;
	margin: auto;
	padding-bottom: 20vh;
}
table {
	padding: 50px 20px 20px 20px;
}
table td.turquoise {
	background-color: #a4dbe5;
}
table td.red {
	background-color: #f9ac93;
}
table td.orange {
	background-color: #fed191;
}
table td.yellow {
	background-color: #F6F399;
}
table td.green {
	background-color: #a6d598;
}
table td.blue {
	background-color: #9facd7;
}
table td.violet {
	background-color: #af9bca;
}
table td.purple {
	background-color: #cda0ca;
}
table td.pink {
	background-color: #ed9dc4;
}
table td.lightpink {
	background-color: #e2aacd;
}
table td:not(.explanation) {
	position: relative;
	text-align: center;
	width: 4vw;
	height: 60px;
	padding: 5px 5px 5px 5px;
}
table td .name {
	text-align: center;
    font-weight: bold;
    font-size: 2.0vmin;
}
table td .number {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 1.4vmin;
}
table td .mass {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 1.4vmin;
}
.explanation {
	width: 80vw;
	padding: 20px 10px 10px 10px;
}
td .group {
    font-weight: normal;
    font-size: 1.8vmin;
}
